doctype
html
  head
    title Fader
    style.
      html, body, .fader {
        height: 100%;
      }
      .fader ul {
          position: relative;
      }
      .fader img {
          position: absolute;
          top: 0px;
          left: 0px;
      }
  body
    .fader
      ul
        li
          img(src="http://placehold.it/500x500/220022?text=1")
        li
          img(src="http://placehold.it/500x500/002200?text=2")
        li
          img(src="http://placehold.it/500x500/0000FF?text=3")
    script(src="https://code.jquery.com/jquery-1.11.3.js")
    script(src="./jquery.fader.js")
    script.
      $(function(){
        $(".fader").fader({
          delay: 2000
        })
      });
